<div class="flex-container cocktail">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag 'photo-1550426735-c33c7ce414ff_ibyark', width: 300, height: 300,  crop: :thumb%>
  <br>
  <strong>Ingredients:</strong>
  <% @cocktail.doses.each do |dose| %>
    <div class="flex-item cocktail">
      <p><%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
           <i class="fa fa-trash destroy_dose"></i></p>
         <% end %>
    </div>
  <% end %>
  <div class="links">
    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-flat" %>
    <%= link_to 'Back', cocktails_path, class: "btn btn-flat" %>
  </div>
</div>


